In [14]:
#Import csv file 
import pandas as pd
from pathlib import Path
import csv

In [10]:
#Set the file path
csvpath = Path('/Users/angusclark/desktop/MONASH/instructions/pybank/resources/budget_data.csv')

In [15]:
pybank_data = pd.read_csv(csvpath)

In [17]:
pybank_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [18]:
#Check for any misplaced data
pybank_data.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [62]:
#Find the total number of months included in the data

pybank_data.count

#By using this we can establish there is 86 months
total_months = 86

In [27]:
#Calculate The net total amount of Profit/Losses over the entire period.

net_profit = pybank_data.iloc[:,1].sum()

In [28]:
net_profit

38382578

In [29]:
#Calculate the average of the changes in Profit/Losses over the entire period.

average = pybank_data.iloc[:,1].mean()

In [75]:
average = int(average)

In [32]:
#Change into a whole number
int(average)

446309

In [48]:
#Calculate the greatest increase in profits (date and amount) over the entire period.
max_profit = pybank_data.iloc[:,1].max()

In [49]:
#Calculate the greatest decrease in losses (date and amount) over the entire period.
min_profit = pybank_data.iloc[:,1].min()

In [73]:
Maximum = pybank_data.iloc[:,1].max()
Maximum

1170593

In [72]:
Minimum = pybank_data.iloc[:,1].min()
Minimum

-1196225

In [50]:

pybank_data.set_index(pybank_data['Profit/Losses'], inplace=True)
max_row = pybank_data.loc[max_profit]
max_date = max_row.iloc[0]
min_row = pybank_data.loc[min_profit]
min_date = min_row.iloc[0]

In [56]:
max_date

'Feb-2012'

In [57]:
min_date

'Sep-2013'

In [76]:

print('Financial Analysis')
print('--------------------------------------')
print(f'Total Months: {total_months}')
print(f'Net Profit: {net_profit}')
print(f'Average Change: {average}')
print(f'Greatest Increase in Profits: {max_date}, ${Maximum}')
print(f'Greatest Decrease in Profits: {min_date}, ${Minimum}')

Financial Analysis
--------------------------------------
Total Months: 86
Net Profit: 38382578
Average Change: 446309
Greatest Increase in Profits: Feb-2012, $1170593
Greatest Decrease in Profits: Sep-2013, $-1196225